body {
    /* background-color: blueviolet; */
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
    height: 20vh;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid rgb(71, 12, 182);

}


/* Clase imgIcon */


.imgIcon{
    width: 100px;
    border-radius: 50%;
    margin-left: 20px;  
    border: 10px solid goldenrod;

    
}


/* CLASE menuIcon */

.menuIcon{
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 43px;
        justify-content: center;
        margin-top: 0;
        padding-top: 0;

        
    }

    .menuIcon:hover{
        background-color: gold;
        width: 55px;
        height: 55px;
        border-radius: 20%;
    }
    


    /* MENU items */

    .menuItem{
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        color: white;
        cursor: pointer;
        padding: 0;
    
        }



/* ID mylinks */

#myLinks {
    display: none;
    max-width: 20%;
}

#myLinks a{
    color: whitesmoke;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: lightpink;
}

#myLinks a:hover{
    background-color: moccasin;
    color: black;
}

/*  TYPING CONTAINER */
.typingContainer{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typingContainer p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.typingContainer p span.typed-text {
    font-weight: normal;
    color: fuchsia;
}

.typingContainer p span.cursor.typing {
    animation: none;
}


@keyframes blink {
    0% {background-color: ghostwhite;}
    49% {background-color: ghostwhite;}
    50% {background-color: #ccc;}
    99% {background-color: ghostwhite;}
    100% {background-color: ghostwhite;}
}




/* Sección RESPONSIVE */
@media (max-width: 576px){
    header{
        background-color: lightgreen;
    }
    #myLinks a{
        max-width: 80px;
    }
    .imgIcon{
        max-width: 80px;
    }
    
}

@media (max-width: 768px){
    header{
        background-color: lightgreen;
    }
    #myLinks a{
        max-width: 80px;
    }
    .imgIcon{
        max-width: 80px;
    }
}

@media (max-width: 992px){
    header{
        background-color: lightgreen;
    }
    #myLinks a{
        max-width: 80px;
    }
    .imgIcon{
        max-width: 80px;
    }
}

@media (max-width: 1200px){
    header{
        background-color: lightgreen;
    }
    #myLinks a{
        max-width: 80px;
    }
    .imgIcon{
        max-width: 80px;
    }
}


@media (max-width: 150px){
        header{
            background-color: lightgreen;
        }

        #myLinks a{
            max-width: 20px;
            background-color: pink;
        }
        .imgIcon{
            max-width: 80px;
        }
    }